* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	font-size:16px;
}

body{
	background-color: #eae8e7;
}
.box{																																																			
	box-shadow: 3px 3px 6px 1px #656565;
	background-color: white;
}
.main{	
	min-height: 70vh;
}
/* .global{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 95%;
	margin-right: auto;
	margin-left: auto;
} */
#menu a{
	font-size: 1.2rem;
	color: #333030;
}
.ui.menu .active.item{
	background-color: rgba(34,36,38,.15);
}

.ui.form.box{
	padding: 1.3em;
	border-radius: 0.5em;
}
/* .sidebar-main.ui.grid{
	margin-top: 1.5em;
} */
